<div id="create_user_<%= user.id %>_relationships_<%= with_user.to_param %>">
  <%= link_to "Follow", user_relationships_url(current_user, :with_user_id => with_user.to_param), :method => :post, :remote => true %>
</div>
