<div id="create_user_<%= user.id %>_relationships_<%= with_user.id %>">
  <%= link_to "Follow", user_relationships_url(current_user, :with_user => with_user), :method => :post, :remote => true %>
</div>
